In [20]:
from openpyxl import *

In [21]:
wb = load_workbook('exam.xlsx')

In [22]:
wb

In [23]:
print(wb.sheetnames)
ws = wb.active

['Sheet1']

In [24]:
ws

In [25]:
g = ws.rows

In [26]:
keys=[]

In [27]:
cells=next(g)
cells

(<Cell 'Sheet1'.A1>,
 <Cell 'Sheet1'.B1>,
 <Cell 'Sheet1'.C1>,
 <Cell 'Sheet1'.D1>)

In [28]:
for key in cells:
    keys.append(key.value)

In [29]:
keys

['name', 'math', 'literature', 'science']

In [30]:
student_data = []

In [31]:
for row in g:
    dic = {k:v.value for k,v in zip(keys,row)}
    student_data.append(dic)
# rows  >> genterateor를 cell 형태로 한줄씩 반환해준다

In [32]:
student_data

[{'literature': 65, 'math': 95, 'name': 'greg', 'science': 75},
 {'literature': 30, 'math': 25, 'name': 'john', 'science': 55},
 {'literature': 45, 'math': 50, 'name': 'yang', 'science': 40},
 {'literature': 65, 'math': 15, 'name': 'timothy', 'science': 90},
 {'literature': 100, 'math': 100, 'name': 'melisa', 'science': 100},
 {'literature': 15, 'math': 10, 'name': 'thor', 'science': 20},
 {'literature': 50, 'math': 25, 'name': 'elen', 'science': 100},
 {'literature': 75, 'math': 80, 'name': 'mark', 'science': 80},
 {'literature': 100, 'math': 95, 'name': 'steve', 'science': 95},
 {'literature': 20, 'math': 20, 'name': 'anna', 'science': 20}]

In [33]:
for student in student_data:
    for k,v in student.items():
        print('{} : {}'.format(k,v).ljust(20),end=' ')
    print('')

name : greg          math : 95            literature : 65      science : 75
name : john          math : 25            literature : 30      science : 55
name : yang          math : 50            literature : 45      science : 40
name : timothy       math : 15            literature : 65      science : 90
name : melisa        math : 100           literature : 100     science : 100
name : thor          math : 10            literature : 15      science : 20
name : elen          math : 25            literature : 50      science : 100
name : mark          math : 80            literature : 75      science : 80
name : steve         math : 95            literature : 100     science : 95
name : anna          math : 20            literature : 20      science : 20